#root {
  background-image: url("https://cdn.shopify.com/s/files/1/0045/4013/7562/t/9/assets/a482caf97db3--S2-Background-268f54.jpg?v=1615855862");
  background-size: cover;
  background-position: top;
}

header {
  background-color: #282c34;
}

.cm-font {
  font-family: "Protest Revolution", sans-serif !important;
  font-size: 2em !important;
}
